<% include partials/header %>
<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to MeetUp!</h1>	
			<p>The hangout spots that boilermakers choose</p>
			<p>
			<a class="btn btn-primary btn-lg "href="/hotspots/new"> Add new hotspot </a>
			</p>
		</div>
	</header>


<% spots.forEach(function(spot){ %>
	<div>
		<h4><%= spot.name %></h4>
		<img src="<%= spot.image %>">
	</div>
<% }) %>
</div>
<% include partials/footer %>