<% include partials/header %>

<h1>This is the hotspots page</h1>

<a href="/hotspots/new"> Add new hotspot </a>
<% spots.forEach(function(spot){ %>
	<div>
		<h4><%= spot.name %></h4>
		<img src="<%= spot.image %>">
	</div>
<% }) %>

<% include partials/footer %>